{
  "env": {
    "minify": {
        "presets": [
            ["env", { "modules": false }],
            "minify"
        ]
    },
    "production": {
        "presets": [
            ["env", { "modules": false }]
        ]
    }
  }
}